DATABASE_URL=postgresql://shortener:shortener_password@db:5432/shortener_db
DATABASE_URL_LOCAL=postgresql://shortener:shortener_password@localhost:5544/shortener_db

SECRET_KEY=your_secret_key_here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

BASE_URL=http://localhost:8001
